<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <form action="/admin/login" method="post" enctype="multipart/form-data">
        <div>
            <label for="user_name">用户名：</label>
            <input type="text" name="user_name" placeholder="输入用户名">
        </div>
        <div>
            <label for="password">用户名：</label>
            <input type="password" name="password" placeholder="输入密码">
        </div>
        <div>
            <label for="password">用户名：</label>
            <input type="password" name="rpassword" placeholder="再次输入密码">
        </div>

        <input type="submit" value="登录">

    </form>
</body>

</html>